html
  body
    form(id=  'uploadForm'
     enctype =  'multipart/form-data'
     action =  '/users/uploadxml'
     method =  'post')
       input(type='file',name='file')
       input(type='submit',name='submit',value='upload')